
<link rel="import" href="../polymer/polymer.html">

<dom-module id="hex-grid">
	<template>
		<style>
			:host {
				display: block;
				box-sizing: border-box;
				overflow: scroll;

			}
			#container ::content > .item{
				position: absolute;
				overflow: hidden;
				box-sizing: border-box;
			}
			#container ::content > .item .outer,
			#container ::content > .item .inner{
				position: absolute;
				overflow: hidden;
				box-sizing: border-box;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			#container ::content > .item .debug{
				display: none;
			}
			#container ::content > .item .inner{
				-webkit-clip-path: polygon(
					25% 0%,
					75% 0%,
					100% 50%,
					75% 100%,
					25% 100%,
					0% 50%,
					25% 0%
				);
			}
			#container ::content > .item .outer{
				transition: transform 0.4s ease-in-out,	 opacity 3s ease-in-out;
				transform: scale(0.999,0.999,0);
				opacity: 0.999;
			}
			#container ::content > .item.immediate .outer{
				transition: none;
			}
			#container ::content > .item.hidden{
				display: none;
			}
			#container ::content > .item.removed .outer{
				opacity: 0;
			}
			#container ::content > .item.out .outer{
				transform: scale3d(0,0,0);
			}

		</style>

		<div id="container">
			<content id="content" select=".item"></content>
		</div>

	</template>
</dom-module>

<script>

	Polymer({

		is: 'hex-grid',

		properties: {
			size: {
				type: Number
			},
			margin:{
				type: Number
			},
			fitting: {
				type: Number
			},
			minScale: {
				type: Number
			},
			dropChance: {
				type: Number,
			},
			reviveChance: {
				type: Number,
			},
			dropInterval: {
				type: Number,
			},
			items:{
				type: Array,
				value: []
			}
		},

		listeners:{
			'scroll': '_onScroll'
		},
		observers:[
			'_layout(size, fitting, minScale, margin)'
		],
		attached: function(){
			this._layout();
			this.async(this._layout, 200);
		},
		ready: function(){

			this._rootFontSize = parseFloat(getComputedStyle(document.documentElement).fontSize);
			this._render();
		},
		_layout: function(){
			var boundingRect = this.getBoundingClientRect();
			this._windowWidth = parseFloat(boundingRect.width / this._rootFontSize);
			this._windowHeight = parseFloat(boundingRect.height / this._rootFontSize);

			this.items = Polymer.dom(this.$.content).getDistributedNodes();
			if(!this.items.length){
				return;
			}
			var rows = Math.floor(Math.sqrt(this.items.length));
			var cols = Math.ceil(this.items.length / rows);

			var width = this.size * 2;
			var height = Math.sqrt(3)/2 * width;
			var horizontalSpace = width * 3/4;
			var verticalSpace = height;
			for (var x = 0; x < cols; x++) {
				for (var y = 0; y < rows; y++) {
					var index = (y*cols) + x;
					var item = this.items[index];
					if(index >= this.items.length){
						continue;
					}
					item.__xIndex = x;
					item.__yIndex = y;
					item.__index = index;

					item.__width = (width * this.fitting);
					item.__height = (height * this.fitting);
					item.__top = this.margin + (y * verticalSpace + (x % 2) * height / 2);
					item.__left = this.margin + (x * horizontalSpace);

					item.style.width = item.__width + 'rem';
					item.style.height = item.__height + 'rem';
					item.style.top = item.__top + 'rem';
					item.style.left = item.__left + 'rem';

				}
			}
			var containerHeight = ((cols - 1) * horizontalSpace + (width * 1-(3/4) ) * this.fitting)+ this.margin * 2;
			var containerWidth = (verticalSpace * rows + verticalSpace / 2 - verticalSpace * (1-this.fitting)) +  this.margin * 2;
			this.$.container.style.width = containerHeight + 'rem';
			this.$.container.style.height = containerWidth + 'rem';
			//this.translated3d( this.margin  + 'rem',  this.margin  + 'rem', 0, this.$.container);
			//this.scrollTop = (containerHeight * this._rootFontSize - boundingRect.height) * 0.37;
			//this.scrollLeft = (containerWidth * this._rootFontSize - boundingRect.width) * 0.37;
			//this._onScroll();


			var removeItems = function(){
				this.items.forEach(function(item) {
					if(Math.random() > 1 - this.dropChance){
						item.classList.remove('immediate');
						item.classList.add('removed');
					}
				}.bind(this));
				this.items.forEach(function(item) {
					if(Math.random() > 1 - this.reviveChance){

						item.classList.add('immediate');
						item.classList.remove('removed');
						//item.classList.remove('immediate');
					}
				}.bind(this));
				this.debounce('removeItems', removeItems, this.dropInterval);
			}.bind(this);
			this.cancelDebouncer('removeItems');
			this.debounce('removeItems', removeItems, this.dropInterval);
		},
		_onScroll: function(){
			this._normalizedScrollTop = this.scrollTop / this._rootFontSize;
			this._normalizedScrollLeft =  this.scrollLeft / this._rootFontSize;
		},
		_render: function(){
			this.items.forEach(function(item) {
				var distL = this._normalizedScrollLeft  - item.__left;
				var percentL = distL / item.__width;

				var distT = this._normalizedScrollTop - item.__top;
				var percentT = distT / item.__height;

				var distB = parseFloat(item.__top) + parseFloat(item.__height) - (this._normalizedScrollTop + this._windowHeight);
				var percentB = distB / item.__height;

				var distR = parseFloat(item.__left) + parseFloat(item.__width) - (this._normalizedScrollLeft  + this._windowWidth);
				var percentR = distR / item.__width;

				if(percentT > 1 || percentR > 1 || percentB > 1 || percentL > 1){
					item.classList.add('hidden');
					return;
				}
				item.classList.remove('hidden');

				var biggestPercent = percentL;
				if(percentR > biggestPercent){
					biggestPercent = percentR;
				}
				if(percentB > biggestPercent){
					biggestPercent = percentB;
				}
				if(percentT > biggestPercent){
					biggestPercent = percentT;
				}

				var scale = 1;
				if(biggestPercent > 0 && biggestPercent < 1){
					scale = 1 - biggestPercent;
				}

				if(percentT < 0 &&  percentR < 0 &&  percentB < 0 &&  percentL < 0){
					item.__exitEdge = 'center';
				}
				else if(percentT > 0 &&  percentR < 0 &&  percentB < 0 &&  percentL < 0){
					item.__exitEdge = 'top';
				}
				else if(percentR > 0 &&  percentT < 0 &&  percentB < 0 &&  percentL < 0){
					item.__exitEdge = 'right';
				}
				else if(percentB > 0 &&  percentT < 0 &&  percentR < 0 &&  percentL < 0){
					item.__exitEdge = 'bottom';
				}
				else if(percentL > 0 &&  percentT < 0 &&  percentR < 0 &&  percentB < 0){
					item.__exitEdge = 'left';
				}
				item.__verticalEdge = '';
				if(percentT > 0){
					item.__verticalEdge = 'top';
				}
				else if(percentB > 0){
					item.__verticalEdge = 'bottom';
				}
				item.__horizontalEdge = '';
				if(percentL > 0){
					item.__horizontalEdge = 'left';
				}
				else if(percentR > 0){
					item.__horizontalEdge = 'right';
				}

				var debug = item.querySelector('.debug');
				debug.innerHTML = '';
				var transformOriginLeft;
				var transformOriginTop;

				var doAdjust;
				var exitPercent;
				var refPercent;
				switch (item.__exitEdge) {
					case 'top':
						transformOriginLeft = '50%';
						transformOriginTop = '100%';
						doAdjust = item.__horizontalEdge;
						exitPercent = percentT;
						if(item.__horizontalEdge == 'left'){
							refPercent = percentL;
						}
						else if(item.__horizontalEdge == 'right'){
							refPercent = percentR;
						}
						break;
					case 'right':
						transformOriginLeft = '0%';
						transformOriginTop = '50%';
						doAdjust = item.__verticalEdge;
						exitPercent = percentR;
						if(item.__verticalEdge == 'top'){
							refPercent = percentT;
						}
						else if(item.__verticalEdge == 'bottom'){
							refPercent = percentB;
						}
						break;
					case 'bottom':
						transformOriginLeft = '50%';
						transformOriginTop = '0%';
						doAdjust = item.__horizontalEdge;
						exitPercent = percentB;
						if(item.__horizontalEdge == 'left'){
							refPercent = percentL;
						}
						else if(item.__horizontalEdge == 'right'){
							refPercent = percentR;
						}
						break;
					case 'left':
						transformOriginLeft = '100%';
						transformOriginTop = '50%';
						doAdjust = item.__verticalEdge;
						exitPercent = percentL;
						if(item.__verticalEdge == 'top'){
							refPercent = percentT;
						}
						else if(item.__verticalEdge == 'bottom'){
							refPercent = percentB;
						}
						break;

				}
				if(doAdjust){
					var refPercent;
					var adjust = refPercent / exitPercent;
					if(adjust > 0.5){
						if(refPercent < 0.5){
							scale *= 1-(refPercent * 2) * (refPercent * 2) ;
						}
						else if(refPercent >= 0.5){
							scale = 0;
						}
					}
				}
				debug.innerHTML = '1'

				var opacity = 1;
				if(scale < this.minScale){
					opacity = Math.pow(scale / this.minScale,3);
				}





				item.style.opacity = opacity;
				item.style.transformOrigin = transformOriginLeft + ' ' + transformOriginTop;
				this.transform('scale3d('+scale+','+scale+',1)', item);

			}.bind(this));

			window.requestAnimationFrame(this._render.bind(this));

		}

	});

</script>
